//**********************************************les variables d'animations 
$animationFlower: rotateFlower 20s linear infinite;
$animationLittleFlower: rotateLittelFlower 20s linear infinite;
$animationBigFlower: rotateBigFlower 20s linear infinite;
$animationUP: slideUp 2s ease-in-out forwards;
$animationFloat: float 2s infinite ease-in-out;
$animationFadin: fadeIn 3s ease-in-out forwards;
$animationDown: slideDown 2s ease-in-out forwards;